/* footer.css */

/* Animation for footer text color */
.footer ul,
.footer li,
.footer a,
.footer h5,
.footer p {
  transition: color 0.3s ease-in-out; /* Add transition for text color */
}

.footer ul:hover,
.footer li:hover,
.footer a:hover,
.footer h5:hover,
.footer p:hover {
  color: #17a2b8; /* Change text color on hover */
}

/* Other styles for the footer */
.footer {
  background-color: #343a40;
  color: #fff;
  display: flex; /* Set display to flex */
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
 
}

.footer h5 {
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none; /* Remove default underline */
}

.footer a:hover {
  text-decoration: underline;
}

.footer p::selection {
  background-color: transparent;
}

.footer a::selection {
  background-color: transparent;
}
