.giveaway {
  text-align: center;
  margin-top: 20px;
}

.countdown {
  font-size: 36px;
  font-weight: bold;
  color: #007bff; /* Голубой цвет текста */
  margin-top: 10px;
  margin-bottom: 20px;
}

.countdown-label {
  font-size: 18px;
  color: #6c757d; /* Серый цвет текста */
}

@media (max-width: 768px) {
  .countdown {
    font-size: 24px;
  }
}
.daily-tasks {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa; /* Светло-серый цвет фона */
  padding: 20px;
}

.daily-tasks h3 {
  font-size: 24px;
  font-weight: bold;
  color: #007bff; /* Голубой цвет текста заголовка */
  margin-bottom: 10px;
}

.daily-tasks ul {
  list-style-type: none; /* Убираем маркеры у списка */
  padding: 0;
}

.daily-tasks li {
  font-size: 16px;
  color: #6c757d; /* Серый цвет текста */
  margin-bottom: 5px;
}

.daily-tasks li:before {
  content: "\2022"; /* Устанавливаем круглый маркер */
  color: #007bff; /* Голубой цвет маркера */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.participate-button {
  background-color: #007bff; /* Голубой цвет кнопки */
  color: #fff; /* Белый цвет текста кнопки */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.participate-button:hover {
  background-color: #0056b3; /* Темно-голубой цвет при наведении */
}
