/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #15202B;
    color: #FFFFFF;
    overflow: hidden; /* Скрыть лишнее, если контент выходит за пределы */
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Выравнивание текста по центру */
    margin-top: -50px; /* Поднятие контента выше */
}

.react-logo {
    width: 200px;
    margin: 20px;
    animation: spin 2s linear infinite; /* Анимация вращения */
    align-self: center; /* Выравнивание по центру */
}

.home-text {
    margin-bottom: 20px;
    align-self: center; /* Выравнивание по центру */
}

.button-container {
    display: flex;
    justify-content: center; /* Выравнивание кнопок по центру */
    margin-top: 20px; /* Добавление отступа сверху */
}

.home-button {
    color: #FFFFFF;
    padding: 10px 20px;
    margin: 0 10px; /* Расстояние между кнопками справа и слева */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Стиль указателя при наведении */
    transition: transform 0.3s ease; /* Плавное изменение размера при наведении */
    background-color: transparent; /* Без фона */
    border: 2px solid #61DAFB; /* Граница */
}

.home-button:hover {
    transform: scale(1.1); /* Увеличение размера при наведении */
}

.dark-button {
    background-color: #0D4F6E; /* Более темный фон */
    border: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
